.company-website-url-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-website {
  display: flex;
  align-items: center;
}
.visit-text {
  font-size: 10px;
  color: #4f46e5;
  font-weight: bold;
  margin-right: 5px;
}
.visit-icon {
  height: 10px;
  width: 10px;
  color: #4f46e5;
}
.job-details-container {
  background-color: #121212;
  min-height: 100vh;
  padding: 30px;
}

.job-card-container {
  background-color: #272727;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 576px) {
  .job-card-container {
    padding: 40px;
  }
  .visit-text {
    font-size: 20px;
  }
  .visit-icon {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 576px) {
  .job-details-container {
    padding: 50px;
  }
}

.company-logo-url-job-details {
  height: 40px;
  width: 40px;
}
.job-card-company-details-container {
  display: flex;
  align-items: center;
}
.company-title-container {
  margin-left: 10px;
}
.company-title {
  margin: 0px;
  color: #f8fafc;
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 14px;
}
@media screen and (min-width: 576px) {
  .company-title {
    font-size: 28px;
  }
  .company-logo-url-job-details {
    height: 80px;
    width: 80px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
}

.star-icon {
  color: #fbbf24;
  height: 10px;
  width: 10px;
}
.rating-text {
  margin-left: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 576px) {
  .star-icon {
    height: 20px;
    width: 20px;
  }
  .rating-text {
    font-size: 15px;
    margin-left: 10px;
  }
}

.job-card-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-container {
  display: flex;
  align-items: center;
}
.location-icon {
  height: 10px;
  width: 10px;
  color: #ffffff;
}
.briefcase-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.briefcase-icon {
  height: 10px;
  width: 10px;
  color: #ffffff;
}
.location-name {
  color: #f8fafc;
  font-weight: bold;
  margin-left: 5px;
  font-size: 10px;
}
.employment-type {
  color: #f8fafc;
  font-weight: bold;
  margin-left: 5px;
  font-size: 10px;
}
.package {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
}
.description-heading-job-details {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
}
.description {
  color: #ffffff;
  font-size: 10px;
}
.job-card-details {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .package {
    font-size: 25px;
  }
  .briefcase-icon {
    height: 20px;
    width: 20px;
  }
  .location-icon {
    height: 20px;
    width: 20px;
  }
  .location-name {
    font-size: 18px;
    margin-left: 10px;
  }
  .employment-type {
    font-size: 18px;
    margin-left: 10px;
  }
  .briefcase-container {
    margin-left: 20px;
  }
  .description-heading-job-details {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
    line-height: 30px;
  }
}

.skills-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.skills-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  flex-wrap: wrap;
}
.life-at-company-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-top: 20px;
}
.life-at-company-container {
  display: flex;
  justify-content: space-between;
}
.life-at-company-description {
  width: 800px;
  color: #ffffff;
  font-weight: 500;
  font-size: 8px;
}
.life-at-company-img {
  border-radius: 10px;
}

.life-at-company-img {
  height: 100px;
  width: 180px;
}

@media screen and (min-width: 576px) {
  .skills-heading {
    font-size: 20px;
  }
  .life-at-company-img {
    height: 350px;
    width: 400px;
  }
  .life-at-company-description {
    font-size: 18px;
    width: 1000px;
    line-height: 40px;
  }
  .life-at-company-heading {
    font-size: 22px;
  }
  .skills-heading {
    margin-bottom: 20px;
  }
}

.failure-container {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}

.failure-img {
  height: 300px;
  width: 300px;
}
.failure-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;

  margin-bottom: 5px;
}
.failure-description {
  color: #f1f5f9;
  font-size: 12px;

  font-weight: 400;
  margin-top: 5px;
}
.failure-btn {
  background-color: #4f46e5;
  color: #ffffff;
  width: 60px;
  font-size: 15px;
  height: 30px;

  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .failure-btn {
    height: 40px;
  }
  .failure-img {
    height: 500px;
    width: 600px;
  }
  .failure-description {
    font-size: 18px;
  }
  .failure-container {
    min-height: 100vh;
  }
  .failure-heading {
    font-size: 30px;
  }
}

.loader-container {
  height: 100vh;
  background-color: #121212;

  display: flex;
  justify-content: center;
}
.similar-jobs {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.similar-jobs-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width:576px){
  .similar-jobs{
    font-size: 25px;
  }
}
